<!DOCTYPE html>
<html>
    <head> 
        <title>Results Page</title>
    </head>
    <body>
        <h1>Results Home Page</h1>

        <!-- Displaying Data from the API Request -->
        <!-- Movie + Year is Displayed -->
        <ul> 
            <% data["Search"].forEach(function(movie){ %>
                <li> 
                    <strong>
                        <%= movie["Title"] %>
                    </strong> 
                        - <%= movie["Year"] %> 
                </li>
            <% }); %>
        </ul>

        <a href="/">Search Again!</a>

    </body>

</html>
