<!DOCTYPE html>
<html>
    <head> 
        <title>Results Page</title>
    </head>
    <body>
        <h1>Results Home Page</h1>

        <% data["Search"].forEach(function(movie){ %>
            <li> <%= movie["Title"] %> </li>
        <% }); %>



    </body>

</html>
