<!DOCTYPE html>
<html> 
    <head>
        <title>Search Page</title>
    </head>
    <body>

        <form action="/results" method="GET">
            <input type="text" placeholder="Search Term" name="search">
            <input type="submit">
        </form>

    </body>
</html>