<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <!-- Font Awesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <title>Pattern Project</title>

    <!-- Within a container for content allinging.  -->
    <!-- Space between Icon and Text. Margin right  -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div >
            <a href="https://www.instagram.com/harvey_and_lewis/" target="_blank" class="navbar-brand"> <i class="fas fa-paw mr-2"></i>InstaKitty</a>
            </div>
            <div >
                    <a href="https://www.facebook.com/rockchicky22/" target="_blank" class="navbar-brand"> <i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/harvey_and_lewis/" target="_blank" class="navbar-brand"> <i class="fab fa-instagram "></i></a>
                    <a href="https://www.youtube.com/" target="_blank" class="navbar-brand"> <i class="fab fa-youtube "></i></a>

            </div>
        </div>
    </nav>

    <section id="header" class="jumbotron text-center"> 
        <h1 class="display-3">InstaKitty</h1>
        <p class="lead">Bringing you closer to felines and the things they love.</p> 
    </section>

</head>
<body>
    <!-- Javascript tags -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

</body>
</html>