body {
	border: 20px solid #C1BCBC;
	padding: 20px; 
	max-width: 700px;
	width: 80%;
	border: center; 
	margin: 20px auto;
	font-family: "Source Sans Pro";
}

.firstparagraph {
	border-left: 2px solid #C1BCBC;
	padding-left: 10px;
}

h2 {
	color: #44375F;
	font-family: "Montserrat";
	font-size: 2.0rem;
}

.date {
	color: #AA94D7;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
 
.post {
	margin-bottom: 20px;
}
